body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background-image: url('../fruits.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}
