body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url('./burgers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;

}

.title {
    text-align: center;
    color: goldenrod;
    font-size: 80px;
    font-weight: bold;
}
h2 {
    text-align: center;
    font-size: 50px;
}

a {
    color: #e2e8f0 ;
    text-decoration: none ;
    text-align: center;
    font-size: 30px;
}

a:hover {
    color: green ;
}